.experienceBox h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  text-align: center;
}
.experienceBox {
  max-width: 85rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid #0d373e;
  border-radius: 8px;
}

.experienceBox h3 {
  font-size: 32px;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
.experienceBox h4 {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
#experience {
  padding: 50px;
  background-color: #f9f9f9;
}

.content {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin: 20px 0;
}
.content:hover {
  transform: translateY(-10px);
}
