.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navLinks {
  display: flex;
  align-items: center; /* Aligns items vertically in the middle */
  gap: 20px;
  padding-right: 5%;
}

.navItem {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center; /* Ensures vertical alignment */
}

.navItem:hover {
  color: #0070f3;
  transition: color 0.3s ease;
}

.language {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  padding: 5px; /* Optional padding for select box */
  border-radius: 5px;
  cursor: pointer;
}

select {
  /* Reset */
  appearance: none;
  border: 0;
  font: inherit;
  /* Personalize */
  color: white;
  cursor: pointer;
}
